@import url(c:\Users\scott\OneDrive\Documents\GitHub\bestbuy-geolocation-app\web_frontend\node_modules\bootstrap\dist\css\bootstrap.min.css);
#page-pickup p {
  font-family: Arial;
  line-height: 1.15em;
}

#page-pickup b {
  font-family: Arial;
}

#page-pickup h2 {
  font-family: Arial;
}

#page-pickup h4 {
  font-family: Arial;
}

#page-pickup table {
  border: 1px solid black;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background: none;
}

#page-pickup .table1 {
  border: 1px solid black;
  width: 65%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

#page-pickup .table2 {
  border: 2px solid #eeeeee;
  width: 75%;
  text-align: center;
  background-color: white;
}

#page-pickup html {
  font-family: Arial, sans-serif;
}

#page-pickup body {
  font-family: Arial, sans-serif;
  background-color: #E5E5E5;
}

#page-pickup h1 {
  font-size: 24px;
  line-height: 6px;
  font-weight: 700;
}

#page-pickup h2 {
  font-size: 18px;
  font-weight: bold;
}

#page-pickup .container {
  padding: 30px;
  border: 1px solid black;
}

#page-pickup #main {
  margin-top: 30px;
}

#page-pickup #footer {
  background-color: #F4F6F9;
  margin-bottom: 30px;
  border-top: none;
}

#page-pickup #footer p:last-child {
  margin-bottom: 0;
}

#page-pickup .menu {
  text-align: center;
}

#page-pickup .menu #demo {
  margin-top: 25px;
  margin-bottom: 30px;
}

#page-pickup .time-and-date {
  text-align: left;
  background-color: #F4F6F9;
  padding: 16px 12px;
  margin-top: 40px;
}

#page-pickup .time-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#page-pickup .time-selection-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 150px;
  margin-right: 2px;
}

#page-pickup .time-selection-heading {
  text-align: center;
  background-color: #fff;
  padding: 2px 8px;
  margin-bottom: 2px;
  font-weight: 600;
  text-align: center;
}

#page-pickup .time {
  text-align: center;
  background-color: #fff;
  padding: 2px 8px;
  margin-bottom: 2px;
  border: 1px solid white;
}

#page-pickup .time-slot {
  text-align: center;
  background-color: #fff;
  padding: 2px 8px;
  margin-bottom: 2px;
  border: 1px solid #0A4ABF;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

#page-pickup .time-slot:hover:not(.time-slot-full) {
  cursor: pointer;
  color: #fff;
  background-color: #0A4ABF;
}

#page-pickup .time-slot:active:not(.time-slot-full) {
  cursor: pointer;
}

#page-pickup .time-slot-full {
  background-color: #AAAAAA;
  border-color: #AAAAAA;
  color: #313131;
}

#page-pickup button {
  background-color: #0A4ABF;
  padding: 12px 70px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
}

#page-pickup #store-name {
  color: #0A4ABF;
}
/*# sourceMappingURL=styles.css.map */